<article>
  <p ><%= comment.content %></p>
  <small>按這裡可以回覆上面這個留言->> </small>


  <a href="#" class="comment-form-display">回覆</a>
  <div class="comment-form">  
    <%= render partial: "comments/form", locals: { post: comment.post, parent: comment }%>
  </div>
  <hr>
  <div class="sub-comment">
    <%= render comment.comments.order(id: :desc) %>
  </div>
</article>

<script>
  document.querySelectorAll(".comment-form-display").forEach((el) => {
    el.addEventListener("click", (ev)=>{
      ev.preventDefault()
      el.nextElementSibling.style = "display: block"
    })
  })
</script>